body {
    background-attachment: fixed;
}
.header {
    background-position: center;
}
.logotop :hover {
  this is our logo
}
.header li {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
  
  }
    
.carver {
    color: whitesmoke;
    letter-spacing: 28px;
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 50px;
}
.motto {
    color: whitesmoke;
    letter-spacing: 10px;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}
.quote {
    font-size: 25px;
    color: whitesmoke;
}

nav {
    color: whitesmoke;
}   
ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
    width: 100%;
  }
  li {
    color: white;
    text-transform: uppercase;
    display: inline-block;
    font-size: 25px;
    width: 400px;
    text-align: justify;
  }
  h2 {
    text-transform: uppercase;
      color: whitesmoke;
      font-size: 30px;
  }
  p{
      font-size: 25px;
      color: whitesmoke;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .h4 {
      font-family: cursive;
      color: whitesmoke;
      font-size: 25px;
  }
  footer {
      font-size: 15px;
    text-align: center;
    height: 100px;
  }
  
footer .container {
    font-size: 15px;
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 1em 0;
    margin: 25px;
  }
  

 .email {
   font-size: 35px;
 }
 a:hover {
  font-weight: bold;
}
.email2 {
  font-size: 25px;
}
a:hover {
 font-weight: bold;
}

  .website {
    font-size: 20px;
  }
  .copyright {
      text-align: left;
      color: white;
      font-size: 15px;
  }